
/* the choice container components are used for displaying the answer selections for the 
user to select with the questions*/
.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgb(86, 165, 235, 0.25);
    background-color: white;
  }
  
  .choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
  }
  
  .choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #56a5eb;
    color: white;
  }
  
  .choice-text {
    padding: 1.5rem;
    width: 100%;
  }
  
  .correct {
    background-color: #28a745;
  }
  
  .incorrect {
    background-color: #dc3545;
  }
  
  /* HUD is the upper area used to keep track of the timmer and progress bar */
  
  #hud {
    display: flex;
    justify-content: space-around;
  }
  
  .hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: white;
  }
  
  .hud-main-text {
    text-align: center;
  }
  /* Progress bar is the indicator that shows and counts down the number of questions */

  #progressBar {
    width: 20rem;
    height: 4rem;
    border: .08rem solid white;
    margin-top: 1.5rem;
  }
  
  #progressBarFull {
    height: 3.4rem;
    background-color: #56a5eb;
    width: 0%;
  }

  .nav-wrapper {
    margin-top: 2rem;
  }
 /* This is the game container which is similar to the Body */ 
  .game {
    width: 50vw;
    height: 50vh;
    background-color: #006699;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 1rem;
    border: 2px groove white;
    display: flex;
    align-items: center;
    padding: 2rem;  
    box-shadow: 4px 8px 15px #aaaaaa;
    }
  